{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_dixeo_designer/filenames

    Filenames template for displaying uploaded files and their total size

    Example context (json):
    {
        "hasFiles": true,
        "files": [
            {
                "name": "file1.txt",
                "size": "2MB"
            },
            {
                "name": "file2.jpg",
                "size": "1.5MB"
            }
        ],
        "totalSize": "3.5MB",
        "maxTotalSize": "10MB"
    }
}}
{{#hasFiles}}
    {{#files}}
        <div class="file-item" data-file-id="{{id}}">
            <span class="mr-1 delete-icon" data-file-id="{{id}}" title="{{#str}} removefile, block_dixeo_designer {{/str}}" aria-label="{{#str}} removefile, block_dixeo_designer {{/str}}"><i class="fa fa-remove"></i></span> {{ name }} ({{ size }})
        </div>
    {{/files}}
    <p class="total-size mb-2">{{#str}} totalsize, block_dixeo_designer, {{ totalSize }}{{/str}} / {{ maxTotalSize }}</p>
{{/hasFiles}}
