{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_dixeo_designer/review

    Course structure review and designer page.
    No versioning: changes are in-memory only; Undo/Redo use local history.
    Only "Create course" persists the structure and proceeds to course creation.

    Context variables required for this template:
    * jobid - The job identifier
}}

<div class="block_dixeo_designer designer-container">

    {{! Hidden structure data container }}
    <input type="hidden" id="structure-data" data-jobid="{{jobid}}">

    {{! Course structure container (will be populated by JavaScript) }}
    <div class="course-structure-container">
        <div id="loading-indicator" class="text-center py-5">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <p class="mt-3">{{loading}}</p>
        </div>
    </div>

    {{! Template for editing controls (hidden) }}
    <div id="edit-controls-template" class="d-none">
        <button class="btn btn-success btn-sm me-2 save-edit">{{save}}</button>
        <button class="btn btn-secondary btn-sm cancel-edit">{{cancel}}</button>
    </div>

    {{! Editor toolbar - Fixed footer: Cancel (left), Undo/Redo (center), Create course (right) }}
    <div class="editor-toolbar-footer bg-light border-top p-2">
        <div class="container-fluid editor-toolbar-footer-inner">
            <div class="editor-cancel">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-cancel-draft" title="{{cancel}}" data-action="cancel-draft">
                    <span class="btn-cancel-draft-idle">
                        <i class="fa fa-times" aria-hidden="true"></i><span class="btn-label">{{cancel}}</span>
                    </span>
                    <span class="btn-cancel-draft-loading d-none">
                        <i class="icon fa fa-spinner fa-spin fa-fw" role="presentation" aria-hidden="true"></i>
                        <span class="btn-cancel-draft-loading-text">{{cancelling}}</span>
                    </span>
                </button>
            </div>
            <div class="editor-undo-redo">
                <button id="btn-undo" class="btn btn-secondary btn-sm mx-1" disabled title="{{undo}}">
                    <i class="fa fa-undo" aria-hidden="true"></i><span class="btn-label">{{undo}}</span>
                </button>
                <button id="btn-redo" class="btn btn-secondary btn-sm mx-1" disabled title="{{redo}}">
                    <i class="fa fa-redo" aria-hidden="true"></i><span class="btn-label">{{redo}}</span>
                </button>
            </div>
            <div class="editor-actions">
                <button id="btn-create-course" class="btn btn-primary btn-sm mx-1" title="{{create_course}}">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="btn-label">{{create_course}}</span>
                </button>
            </div>
        </div>
    </div>
</div>

{{! Initialize the designer }}
{{#js}}
require(['block_dixeo_designer/designer'], function(Designer) {
    Designer.init('{{jobid}}', {{designercourseid}});
});
{{/js}}
